.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.card {
  height: 100%;
  width: 100%;
  background: black;
  color: #fff;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.6);
  padding: 1rem 0.2rem;
  border-radius: .5rem;
}

a {
  color: #000;
  text-decoration: none;

}

li {
  list-style: none;
}
